* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1199px) {
  .search {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .search {
    width: 80%;
  }

  .productCard {
    max-width: 400px;
  }
}

@media (max-width: 767px) {
  .search {
    width: 95%;
  }
}

.tactical-game-list {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.tactical-game-view {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.tactical-game-creation {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.tactical-game-view-actions {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.tactical-game-list-actions {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.tactical-game-character-creation {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.tactical-game-character-creation-actions {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.combat-dashboard {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.image-button:hover {
  transform: translateY(-1px); /* Eleva el botón */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.image-button:hover .image-button-image:hover {
  filter: brightness(1.5) saturate(1.5);
}

.image-button.disabled {
  opacity: 0.5; /* Reduce la opacidad para que se vea desactivado */
  transform: none; /* Elimina la elevación */
  box-shadow: none; /* Sin sombra */
}
