* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1199px) {
  .search {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .search {
    width: 80%;
  }

  .productCard {
    max-width: 400px;
  }
}

@media (max-width: 767px) {
  .search {
    width: 95%;
  }
}

.tactical-game-list {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.tactical-game-view {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.tactical-game-view-actions {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.tactical-game-list-actions {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

